*{
    padding: 0;
    margin: 0;
}
body {
    background-color: #ffffff;
    font-family: "Prata", serif !important;
    color: #333333;
  }
h1,
h2,
h3,
h4,
h5,
h6{
    font-family: "Open Sans", sans-serif;
}
a{
    text-decoration: none;
    color: #333333 !important;
}
a:hover{
    text-decoration: none !important;
}

ul{
    list-style-type: none !important;
}


.fs-15{
    font-size: 15px !important;
}

.container{
    width: 90% !important;
    margin: 0 auto;
}
.tangerine-font{
    color: #ff871c;
    font-family: "Tangerine", cursive;
}
h3 {
    font-size: 2.5rem !important;
    font-weight: 700 !important;
}
h2{
    font-weight: 700 !important;
}
.heading{
    margin: 4rem 0 !important;
}

/*Animation*/
.bounce-up {
    opacity: 0;
    transition: all 600ms ease-in;
    transform: translate3d(0px, 200, 0px);
    backface-visibility: hidden;
}
.bounce-up.in-view {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}

/*scroll to top*/

#scrollToTop {
  bottom: 60px;
  color: #fff !important;
  display: none;
  font-size: 30px;
    height: 50px;
    width: 50px;
  position: fixed;
  right: 20px;
  text-align: center;
  z-index: 999;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  border-radius: 50%;
  background: #ff871c;
}

/*Navigation*/

#header{
    padding: 20px 0;
    border-bottom: 1px solid #e2e2e2;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
}

#logo{
    font-weight: bold;
    font-size: 35px;
}
.logo-part.col-lg-3 {
    padding: 0 0 !important;
}
.logo-part.col-md-2 {
    padding: 0 0 !important;
}
#navigation{
    font-family: "Open Sans", sans-serif;
    padding-top: 15px;
}
#navigation ul li a:hover{
    color: #ff871c !important;
}
#collapse-button{
    display: inline;
    font-size: 25px;
    width: 45px;
    height: 40px;
    outline: none;
    background: #fff;
    border: 1px solid #ddd !important;
    display: none;
}
.fa-navicon{
    color: #ff871c;
}

/* Slider */

#slider-container{
    width: 100%;
    height: 500px ;
    background-size: cover;
    background-position: center;
    margin-top: 85px;
}

#slider-item-content{
    width: 100%;
    padding-top: 120px ;
    color: yellow;
    text-align: center;

}
#small-title{
    font-size: 100px;
    line-height: 80px;
    font-weight: 200;
}
#big-title {
    font-size: 70px;
    font-weight: bold;
    color: #fff;
}
#text{
    font-size: 20px;
    color: #fff;
}
.dots{
    margin: 0 auto;
    width: 100px;
}
.dots-item{
    width: 20px;
    height: 20px;
    border: 2px solid #ff871c;
    border-radius: 50px;
}
.dots-item-active{
    background: #ff871c !important;
}

/* About us*/
.heading-span{
    font-size: 50px;
    line-height: 0.5 !important;
}

/*Information */
#information {
    padding: 100px 0;
    background: url(../img/info.jpg);
    background-size: cover;
    background-position: center;
    margin: 80px 0;
}
.info{
    background: #ff871c;
    color: #fff !important;
}
.info p:nth-child(1){
    font-family: "Tangerine", cursive;
    font-size: 40px;
}
.info p:nth-child(2){
    font-family: "Open Sans", sans-serif;
    font-size: 35px;
}

/*Menu*/
#Menu{
    margin-bottom: 6rem;
}
.tabs-item{
    padding: 10px 0;
    background: #ff871c;
    cursor: pointer;
}
.tabs-item a{
    color: #fff !important;
    font-family: "Open Sans", sans-serif;
}
.active{
    border: 1px solid #ff871c;
    border-bottom: none !important;
    background: #fff;
}
.active > a{
    color: #ff871c !important;
}
.tabs-item{
    margin: 10px;
}
.menu-item{
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dashed #e2e2e2;
}
.menu-item p {
    margin: 0 0 !important;
    margin-bottom: 5px !important;
}
.menu-item-price{
    color: #ff871c;
}
.menu-item-picture{
    width: 110px;
    height: 110px;
}

/*Reservation*/
#Reservation{
    background-color: #222;
    padding: 10px 0;
    color: #fff;
}
#Reservation p {
    font-size: 15px;
}
#reservation-form > input, #reservation-form > select, #reservation-form > textarea{
    width: 100% !important;
    outline: none !important;
    padding: 10px 5px;
    margin-bottom: 10px;
}
#reservation-form > select{
    color: #555555;
}
input#firstName, input#lastName, input#phone, input#phone{
    background:#fff !important;
}
.sbm {
    width: 50% !important;
    outline: none !important;
    padding: 10px 5px;
    color: #ff871c;
    background: #fff;
    border: 2px solid #ff871c;
}
.sbm:hover{
    color: #fff;
    background: #ff871c;
}
#opening-hours {
    width: 100%;
    padding: 10px;
    background: #fff;
    color: #000;
}
#opening-hours-border{
    border: 2px solid #ff871c;
    padding: 20px;
}
#opening-hours-border > h3 {
    color: #000 !important;
    border-bottom: 2px solid #ff871c;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 10px;
}
#opening-hours-days > li > p{
    margin: 0 !important;
    font-family: 'Prata', serif;
}
#opening-hours-days > li{
    margin: 20px 0;
}
/*OUR CHEFS*/
#ourChefs {
    margin-bottom: 100px;
}
.card{
    border: none !important;
    margin-bottom: 20px !important;
}
.card-body{
    background: #f0f0f0;
}
.card-body p:nth-child(1){
    color: #ff871c;
}
.card-body p {
    font-family: 'Open Sans', sans-serif;
}

/*TESTIMONIALS*/

#testimonials {
    background: url(../img/testimonials.jpg);
    background-size: cover;
    background-position: center;
    padding: 10px 0 50px 0;
    color: #fff;
}
#testimonials-message{
    width: 50%;
    margin: 0 auto;
}
#testimonials-message-text{
    margin-bottom: 40px;
    padding: 10px;
}
/*CONTACT */
#contact-form > input, #contact-form > textarea{
    width: 100% !important;
    outline: none !important;
    padding: 5px 5px;
    margin-bottom: 10px;
}
#Contact{
    margin-bottom: 50px;
}
#socialIcons > a > i{
    color: #ff871c;
    font-size: 20px;
}

/*AUTHOR*/
#Author{
    padding-top: 10px;
    padding-bottom: 50px;
    background: #222;
}
#Author h3{
    color: #fff;
}
#textAuthor {
    color: #fff;
}

/* FOOTER */
#footer .container p a{
    color: #fff !important;
}
#footer .container p a:hover{
    color: #ff871c !important;
}
/*REGULAR EXPRESSION CLASS*/
.incorrect{
    border: 1px solid rgb(253, 12, 12);
}
.errorPopup{
    font-size: 13px;
    margin-bottom: 5px;
}
.errorPopup2{
    font-size: 13px;
    margin-bottom: 5px;
    color: #000;
}
#messageCorrectReservation{
    margin-top: 10px;
    color: rgb(204, 250, 40);
}
#messageCorrectContact{
    margin-top: 10px;
    color: rgb(144, 168, 57);
}
/*MAP*/
#map iframe {
    width: 100%;
    height: 300px;
}
/*FOOTER*/
#footer{
    font-family: 'Open Sans', sans-serif;
    background: #222;
    color: #fff;
}


/* RESPONSIVE */
@media screen and (max-width: 1080px){
    #navigation {
        text-align: right;
    }
    #navigationUl {
        display: none;
        text-align: right;
        margin-top: 20px;
    }
    #collapse-button{
        display: inline;
    }
}

@media screen and (min-width: 1081px){
    #navigationUl {
        display: flex !important;
        justify-content: space-between !important;
    } 
}

@media screen and (max-width: 950px){
    #slider-container{
        height: 470px;
    }
    #slider-item-content{
        padding-top: 100px;
    }

}

@media screen and (max-width: 840px){
    #slider-container{
        height: 420px;
    }
    #slider-item-content{
        padding-top: 60px;
    }
    #text{
        font-size: 16px;
    }
    #small-title{
        font-size: 70px;
    }
    #big-title {
        font-size: 50px;
    }
}

@media screen and (max-width: 768px){
    #slider-container{
        margin-top: 120px;
    }
}

@media screen and (max-width: 550px){
    #slider-item-content{
        padding-top: 70px;
    }
    #small-title{
        font-size: 50px;
    }
    #big-title {
        font-size: 30px;
    }

    h3{
        font-size: 2rem !important;
    }
    #map iframe {
        width: 100%;
        height: 200px;
    }

}


@media screen and (max-width: 450px){
    #slider-container{
        height: 320px ;
    }

    #slider-item-content{
        padding-top: 50px;
    }
}

@media screen and (max-width: 320px){
    #logo{
        font-size: 30px;
        margin-top: 10px;
    }
    
}
